*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #F1F2EE
}

h1 {
    text-align: center;
    color: #435058;
    text-decoration: underline;
    margin-bottom: 20px;
}

li {
    list-style-type: none;
    display: inline-block;
}

a{
    color: #435058;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin: 30px 30px;
}

main {
    margin: 20px;
    padding: 20px;
}

.parrafo {
    text-align: left;
}
