//MIXIN
@mixin anclas{
	text-align: center;
	background-color: black;
	color: white;
	font-weight: bold;
	font-family: $font-family_1;
	font-family: $font-family_2;
}


.titulo1 {
@include anclas;
}
	