.main {
    p{
            margin: 20px;
            padding: 20px;
            text-align: center;
            color: $color_3;
	        font-weight: bold;
	        font-family: $font-family_1;
	        font-family: $font-family_2;
    }
}

.parrafo {
	text-align: center;
	color: $color_3;
	font-weight: bold;
	font-family: $font-family_1;
	font-family: $font-family_2;
}


h2 {
    text-align: center;
	color: $color_3;
	font-weight: bold;
	font-family: $font-family_1;
	font-family: $font-family_2;
}

.Nuestrosproductos {
	text-align: center;
	color: $color_3;
	text-transform: uppercase;
	font-weight: bold;
	font-size: xx-large;
}

.subitulo{
    font-weight: bold;
	font-family: $font-family_1;
	font-family: $font-family_2;
}
