$color_1: #435058;
$color_2: orange;
$color_3: black;
$color_4: #F1F2EE;
$font-family_1: 'Nunito Sans', sans-serif;
$font-family_2: 'Roboto', sans-serif;
$background-color_1: #F1F2EE;
$background-color_2: rgba(241, 139, 118, 0.951);
$background-color_3: rgb(246, 1, 1);
$background-color_4: rgba(0, 0, 0, 0.88);

